.page {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: var(--font-geist-sans);
  background-color: black;
}

.main {
  display: flex;
  min-height: 100vh;
  width: 100%;
  max-width: 1280px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 40px 20px;
}

.intro {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.intro .logo {
  width: 72vh;
  height: auto;
  align-self: center;
  filter: sepia(.8);
}

.intro .cubes {
  width: 100%;
  height: auto;
  max-height: 70vh;
  object-fit: contain;
  margin: auto;
}

.highlight, .texture {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  pointer-events: none;
}

.texture {
  opacity: 0.05;
}

.nav {
  display: flex;
  width: 72vh;
  justify-content: space-evenly;
  font-family: "Arial Black";
  text-transform: uppercase;
  font-size: 24px;
  margin: auto;
  filter: sepia(.8);
}

.nav a {
  font-weight: 600;
}
.nav a:hover {
  text-decoration: underline;
  font-weight: 600;
}

.hidden {
  visibility: hidden;
  position: absolute;
}

@media (max-width: 1080px) {
  .cubes {
    width: 66%;
  }
  .nav {
    font-size: 18px;
  }
}

@media (max-width: 900px) {
  .logo {
    width: 75% !important;
  }
  .nav {
    font-size: 18px;
    width: 100% !important;
  }
}

@media (max-width: 600px) {
  .main {
    padding: 48px 24px;
  }

  .nav {
    font-size: 12px;
  }
  .main {
    padding: 40px 0px;
  }
}
